/*rapelle*/

*
{
	margin: auto;
	

}

html
{
background-color:#002F2F;
}

body
{
	margin-top:30px;
 	width:800px;
        border: 2px solid #a1a1a1;
        padding: 10px 40px;
        background: #ABC8E2;
        border-radius: 25px;

}

h1{text-align:center;}

.tete
{
	width: 200px;
	float: left;
	margin-right: 30px;
        background: #FFBF00;
        border-radius: 25px;
}

#profile
{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border-style: ridge;
	background-color: #FFFFFF;
}

.pied
{
	/*background-color: #FFBF00;*/ 
	border: 2px solid #a1a1a1;
	padding: 10px 40px;
	background: #dddddd;
	border-radius: 25px;
	width:800px;
	margin-left:-42px;
	margin-bottom:-20px;
}

.info
{
text-align:center;
text-decoration:underline;
}

/*nav
{
width:590px;
margin-left:210px;
}*/

section
{
	width: 570px;
	height: 700px;
	margin-left: 230px;
	overflow: auto;
}


